<html>
    <head>
        <title>Khoa Pham ReactJS</title>
        <script src="react.js"></script>
        <script src="react-dom.js"></script>
        <script src="babel.min.js"></script>
    </head>
    <body>
        <div id="root"></div>
        <script type="text/babel">
            ReactDOM.render(
                <a href="http://khoapham.vn">KhoaPham</a>,
                document.getElementById('root')
            );
        </script>
    </body>
</html>